.container-1 footer {
	grid-area: footer;
	background: none;
	margin-left: 5px;
}
footer img{
	width: 45px;
	height: 45px;
	background-color: #837f7f;
	justify-content: space-between;
}

footer p{
    text-align: center;
    color: blue;
}