.container {
	background: none;
	margin-left: 0;
}
footer img{
	width: 45px;
	height: 45px;
	background-color: #837f7f;
	justify-content: space-between;
}

footer p{
    text-align: center;
    color: blue ;
}
.row {
	background: none;
}

footer {
	margin-top: 10%;
	margin-bottom: 0;
}
